* {
    margin: 0;
    padding: 0;
    background-color: #F6F6F6;
    font-family: "Inter";
}
@font-face {
    font-family: "Inter";
    src: url('../img/font/Inter.ttf');
}

/* start utils */
.container {
    max-width: 1280px;
    background-color: white;
    display: flex;
}
.band {
    background-color: #282828;
    height: 40px;
    color: #ABABAB;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bandDown {
    background-color: #282828;
    height: 40px;
    color: #ABABAB;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}
/* end utils */

/* start header */
.containerHeader {
    height: 140px;
    background-color: white;
    display: flex;
    align-items: center; 
    justify-content: space-evenly;
}
.containerHeader a {
    background-color: white;
}

.containerLink {
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    width: 1000px;
}
.containerLink a {
    color: #282828;
    text-decoration: none;
    background-color: white;
    font-weight: 500;
    font-size: 36px;
}
.containerHeader img {
    background-color: white;
}
/* end header */

/* start body */
.containerBody {
    margin: 0 auto;
    max-width: 1280px;
}
.test {
    display: flex;
    justify-content: center;
}
.call {
    margin-top: 80px;
    padding: 10px 10px 10px 10px;
    padding-top: 45px;
    padding-bottom: 70px;
    border-radius: 24px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: white;
}
.login {
    background-color: white;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.login p {
    font-weight: 600;
    display: flex;
    justify-content: center;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
}
.login input {
    background-color: rgba(105, 105, 105, 0.25);
    border-radius: 12px;
    border: none;
    padding: 12px 20px;
}
.login input[type=submit] {
    border: none;
}
.login input[type=submit]:hover {
    background-color: rgba(0, 0, 0, 0.25);
}
.login form {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.add {
    background-color: white;
    margin-top: 50px;
}
.add p {
    font-weight: 600;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
}
.add input {
    background-color: rgba(105, 105, 105, 0.25);
    border-radius: 12px;
    border: none;
    padding: 12px 20px;
}
.add input[type=text] {
    border: none;
}
.add input[type=submit] {
    font-weight: 700;
    font-size: 18px;
    border: none;
}
.add input[type=submit]:hover {
    background-color: rgba(0, 0, 0, 0.25);
}
.add form {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.textarea {
    background-color: rgba(105, 105, 105, 0.25);
    border-radius: 12px;
    border: none;
    padding: 12px 20px;
    height: 200px;
}

.delete {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: white;
    display: flex;
    justify-content: center;
}
.delete input {
    background-color: rgba(255, 0, 0, 0.75);
    border-radius: 12px;
    border: none;
    padding: 12px 20px;
}
.delete input[type=submit] {
    font-weight: 700;
    font-size: 18px;
    color: white;
    border: none;
}
.delete input[type=submit]:hover {
    background-color: rgba(255, 0, 0, 1);
}

.error {
    background-color: rgb(255, 0, 0);
    padding: 20px;
    border-radius: 12px;
}
.errorContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    background-color: white;
    color: white;
}
.titleCenter {
    background-color: white;
    display: flex;
    justify-content: center;
    word-break: break-word;
}
.titleCenter h1 {
    font-size: 40px;
    background-color: white;
}
.titleLeft {
    background-color: white;
    word-break: break-word;
}
.titleLeft h1 {
    font-size: 40px;
    margin-left: 75px;
    background-color: white;
}
.info {
    margin-top: 20px;
    margin-left: 75px;
    font-weight: 500;
    font-size: 24px;
    background-color: white;
    word-break: break-word;
}
.array {
    margin-top: 20px;
    margin-left: 85px;
    font-weight: 500;
    font-size: 24px;
    background-color: white;
    word-break: break-word;
}
.sliderC {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.slider {
    width: 448px;
    height: 74px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.slider_line {
    display: flex;
    transition: all 1s;
    background-color: white;
}
.slider_line img {
    margin-right: 60px;
    width: 100%;
    height: auto;
    object-fit: contain;
    background-color: white;
}
.img {
    margin-top: 70px;
    margin-left: 75px;
    background-color: white;
    display: flex;
}
.img img {
    margin-right: 74px;
    background-color: white;
}
.product {
    background-color: white;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.productCall {
    margin-bottom: 25px;
    background-color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 24px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}
.productCall img {
    padding: 10px 25px 10px 25px;
    background-color: white;
    width: 281px;
    height: 211px;
}
.productCall h1 {
    width: 331px;
    background-color: white;
    display: flex;
    font-size: 20px;
    justify-content: center;
    word-wrap: break-word;
}
.productButton {
    background-color: white;
    display: flex;
    justify-content: center;
}
.productButton a {
    background-color: white;
}
.button {
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    padding: 15px 30px 15px 30px;
    border-radius: 24px;
    font-size: 20px;
    color: white;
    background-color: #4340D3;
    font-weight: 700;
}
.button h1 {
    color: #FFF;
    font-size: 20px;
    background-color: #4340D3;
}
.contacts {
    margin-top: 50px;
    display: flex;
    background-color: white;
    justify-content: space-around;
}
.contactsInfo {
    background-color: white;
    display: table;
    margin-block: auto;
}
.contactsInfo span {
    margin-bottom: 25px;
    background-color: white;
    display: block;
    font-weight: 500;
    font-size: 28px;
}
.contactsInfo mark {
    background-color: white;
    font-weight: 700;
}
.contacts img {
    width: 275px;
    height: 275px;
}
/* end body */

/* start footer */
.containerFooter {
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    background-color: white;
}
.containerWarp {
    max-width: 1280px;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.containerFooter img {
    background-color: white;
}
.footerInfo {
    flex-wrap: wrap;
    margin-top: 10px;
    margin-left: 45px;
    background-color: white;
}
.footerInfo a {
    font-size: 20px;
    font-weight: 700;
    display: block;
    margin-bottom: 20px;
    color: #282828;
    text-decoration: none;
    background-color: white;
}
.containerFooter span {
    margin-bottom: 10px;
    background-color: white;
    display: block;
    font-weight: 500;
    font-size: 20px;
}
.containerFooter mark {
    background-color: white;
    font-weight: 700;
}
/* end footer */